#logo {
    font-weight: 700;

    border-radius: 5px;
    text-align: center;
}

.nav-item {
    font-size: 18px;
    text-transform: uppercase;
    height: 82px;
    line-height: 64px;
}

#cta-button {
    background-color: #10be03;
    border: none;
}

.hero-image {
    max-width: 90vw;

}

.top-links {
    background-color: black;
}

.flare {
    background: #10be03;
    border-radius: 10px;
}

.flare a.nav-link {
    color: #fff !important
}

.topbarElements>div:nth-of-type(1) {
    font-size: 48px;
    margin: 12px 32px;
    color: #10be03;

}

@media screen and (min-width:1040px) {
    .flare {
        margin-right: -15px;
    }
}

@media screen and (max-width:1029px) {
    .navbar-nav {
        margin-bottom: 15px;
        text-align: center
    }

    .nav-item {
        background: rgba(255, 255, 255, 0);
        margin: 2px;
    }
}

.navbar-toggler {
    margin: 5px;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #005f03 0%,
            #69e19b 29%,
            #27ff13 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 3rem;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}